@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tnum {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum" 1;
  }
}

html,
body {
  background: #e7e2d6;
  height: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}
